html, body { height: 100%; }

body {
  margin: 0;
  /*background: linear-gradient(#eeeeee, #cccccc);*/
  background-image: url("../images/backgrey.jpeg");
  overflow: hidden;
  background-repeat: no-repeat;
}

.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;           /* CENTER BUTTON SIZE */
  height: 150px;
  transform: translate(-50%, -50%);
}

.selector,
#centerButton {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

#centerButton {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #707070;                          /* CENTER BUTTON COLOR*/
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  transition: all .1s;
}

#centerButton:hover { 
  background: #99CCFF; 
  font-size: 25px;
  transition: all 0.5s ease-in-out;        /* SPEED OF ROTATION */
} /* CENTER BUTTON COLOR ON HOVER*/

#centerButton:focus { outline: none; }

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;        /* SPEED OF ROTATION */  
}

.selector li .menu {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;                       /*PRE BUTTON COLOR */
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;  
}

.selector li .menu h4{
  visibility: hidden;
} 

.selector li .menu:hover h4{
  visibility: visible; 
  margin-top: 45px;  
  color: DarkSlateGray;
} 

.selector.open .menu:hover { 
  background: #99CCFF;
  background-size: 60%; 
  width: 174px;               /* BUTTON SIZES */
  height: 174px;
  line-height: 200px;         /* MENU FONT CENTERED(hardcoded) */
  margin-left: 38px;          /* DO NOT CHANGE -- button enlargement ratio */
  margin-bottom: -57px;       /* DO NOT CHANGE -- button enlargement ratio */
  transition: all 0.8s ease-in-out;        /* SPEED OF ROTATION */
  background-repeat: no-repeat;
  background-position: center;  
}

.selector.open li .menu {
  width: 120px;               /* BUTTON SIZES */
  height: 120px;
  line-height: 120px;         /* MENU FONT CENTERED(hardcoded) */
  margin-left: 93px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: center; 
  background-color: slategray;
}

/*background icons*/
.selector li #facebook{
    background-image: url("../images/facebook.png");
}
.selector li #twitter{
    background-image: url("../images/twitter.png");
}
.selector li #chrome{
    background-image: url("../images/chrome.png");
}
.selector li #email{
    background-image: url("../images/email.png");
}
.selector li #gallery{
    background-image: url("../images/gallery.png");
}
.selector li #music{
    background-image: url("../images/music.png");
}
.selector li #phone{
    background-image: url("../images/phone.png");
}
.selector li #youtube{
    background-image: url("../images/youtube.png");
}
