html, body { height: 100%; }

body {
  margin: 0;
  background-image: url("../images/backgrey.jpeg");
  overflow: hidden;
  background-repeat: no-repeat;
}

#container {
  margin-left: auto;	
  margin-right: auto;	
  width: 60%;
}
#container ul {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle {
	margin-left: auto;	
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 35px;
	width:80%;
	height:80;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center; 
	background-color: slategray;
  background-size: 64px 64px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);	
}

.rectangle:hover { 
	width: 90%;
	height: 130px;
	transition: all 0.6s ease-in-out;
	background: #99CCFF;
	background-repeat: no-repeat;
	background-position: center;  
}

.rectangle h4{
  visibility: hidden;
  /*padding-top: 85px;*/
} 

.rectangle:hover h4{
	text-align: center;
	/*padding-top: 120px;*/
  visibility: visible; 
  color: DarkSlateGray;
} 

.progress {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	height: 10px;
	width: 0%;
	max-width: 90%;
	background-color: lawngreen;
  vertical-align: bottom;
	margin-top: 120px;
	border-radius: 20px;

	-webkit-animation: 2s 1 forwards;
  -moz-animation: 2s 1 forwards;
  -ms-animation: 2s 1 forwards;
  animation: 2s 1 forwards;
}

@-webkit-keyframes progress { 
    from { }

    to { width: 100% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 100% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 100% }
}

@keyframes progress { 
    from { }

    to { width: 100% }
}

#pages{
  position: absolute;
  bottom: 25px;
  left: 45%;
}

#pages .pageNo {
  margin-left: 10px;
  margin-right: 10px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: inline-block;
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}


